.CardList {
  padding: 12px;

  @media screen and (min-width: 768px){
    flex: 1;
  }

  @media screen and (min-width: 992px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 2;
  }
}