.Card{
  margin-bottom: 36px;

  .Title{
    margin-top: 12px;

    .Name{
      display: inline-block;
      background: #eee;
      height: 18px;
      width: 200px;

    }
    .Price{
      float: right;
      background: #eee;
      height: 18px;
      width: 46px;
    }
  }

  .Description {
    background: #eee;
    margin-bottom: 26px;
    height: 12px;
    width: 140px;
  }

  .Tags {
    display: flex;
    justify-content: space-between;

    .Tag{
      background: #eee;
      height: 12px;
      width: 30%;
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 992px) {
    margin-left: 15px;
    flex-basis: calc(50% - 30px);
  }
}