.Card{
  margin-bottom: 36px;

  .Title{
    margin-top: 12px;
    .Name{
      background: #eee;
      height: 18px;
      display: inline-block;
      width: 200px;

    }
    .Price{
      background: #eee;
      height: 18px;
      float: right;
      width: 46px;
    }
  }

  .Description {
    background: #eee;
    height: 12px;
    margin-bottom: 26px;
    width: 140px;
  }

  .Tags {
    display: flex;
    justify-content: space-between;
    .Tag{
      background: #eee;
      height: 12px;
      width: 30%;
    }
  }
}