@import '../../variables';

.Dashboard {

  .Map {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include flexbox;
    margin: 12px;

    .Map {
      @include flex(1);
      display: block;
      background: $loading-bg;
      margin-top: 12px;
      margin-right: 12px;
    }
  }

  @media screen and (min-width: 992px) {
  }
}
